<div class="flex flex-col mx-auto text-bold">
  <div class="m-6 text-center">
    <h1 class="text-5xl font-bold"><%= t '.title' %></h1>
  </div>

  <div class="space-y-4 text-3xl">
    <details data-controller="link-view-toggle" class="px-4">
      <summary data-link-view-toggle-target="summary" data-action="click->link-view-toggle#toggle">
        <%= t '.sql_injection.caption' %></summary>
      <ul data-link-view-toggle-target="content" class="pl-4">
        <li><a href="#" class="block mb-2 text-blue-500 hover:text-blue-800">リンク1</a></li>
        <li><a href="#" class="block mb-2 text-blue-500 hover:text-blue-800">リンク2</a></li>
      </ul>
    </details>

    <details data-controller="link-view-toggle" class="px-4">
      <summary data-link-view-toggle-target="summary" data-action="click->link-view-toggle#toggle"><%= t '.xss.caption' %></summary>
      <ul data-link-view-toggle-target="content" class="pl-4">
        <li><a href="#" class="block mb-2 text-blue-500 hover:text-blue-800">リンク1</a></li>
        <li><a href="#" class="block mb-2 text-blue-500 hover:text-blue-800">リンク2</a></li>
      </ul>
    </details>
  </div>
</div>
